html, body, #data {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p {
    color: white;
}

h1 {
    font-size: 5em;
}

h1:first-child {
    margin-top: 10%;
}

p {
    font-size: 2.5em;
}

#data {
    margin-top: 10%;
}
#tempContainer {
    display: flex;
}
#temp {
    margin-right: 15px;
}